* {
    font-family: "Cairo", sans-serif;
}

body {
    overflow-x: hidden;
}

table th {
    color: #333333 !important;
    font-weight: 600 !important;
}

ul li a:hover {
    color: #e4b75d !important;
}

td a {
    text-decoration: none;
    color: #6c757d;
}

td a:hover {
    color: #e4b75d !important;
    text-decoration: none;
}

.container-fluid table tbody .actions {
    position: relative;
    text-align: center;
}
.container-fluid table tbody .actions .fe-edit {
    right: 5px;
}

.container-fluid table tbody .actions button {
    border: none;
    background-color: transparent;
    color: #6c757d;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container-fluid table tbody .actions .fe-edit {
        /* position: absolute; */
        right: -1px;
    }
    .container-fluid table tbody .actions .fe-trash {
        /* position: absolute; */
        left: 5px;
    }
    ::-webkit-scrollbar {
        height: 7px !important;
    }

    td img {
        width: 75px;
        height: 50px;
        object-fit: cover;
        border-radius: 5px;
    }
}

@media only screen and (min-width: 600px) {
    td img {
        border-radius: 5px;
    }
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e4b75d;
    transition: all 2s ease-in-out !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6c757d;
}

.delImage button {
    border: none;
    background-color: #fff;
    padding: 0px;
    position: absolute;
    margin-right: -16px;
    font-weight: 900 !important;
    height: 15px;
}

.delImage img {
    border-radius: 5px;
}

nav ul .haha a {
    background-color: #6c757d !important;
    color: #e4b75d !important;
}

nav ul li a {
    border-radius: 5px;
}
